<html lang="en" layout:decorate="~{__${@vs.getLayoutTemplate()}__}"
      xmlns:layout="http://www.thymeleaf.org" xmlns:ui="https://adapt-ms.ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" th:href="@{/styles/home.css}">

</head>
<body style="background-color: #212121">

<div class="container">
    <div class="card has-text-white">
        <div class="card-content">
            aboba
        </div>
    </div>
</div>


</body>

</html>
