:root {
    --theme-primary: #191919;
    --theme-secondary: #212121;
    --theme-thirdly: #444;
    --theme-text: #909090
}

.has-background-theme-primary {
    background-color: var(--theme-primary) !important;
}

.has-background-theme-thirdly {
    background-color: var(--theme-thirdly) !important;
}

.has-background-theme-secondary {
    background-color: var(--theme-secondary) !important;
}

.button.is-theme {
    border-color: transparent;
    background-color: var(--theme-thirdly) !important;
}

.has-text-theme {
    color: var(--theme-text) !important;
}


.input-custom {
    padding: 10px;
    border: none;
    border-radius: 12px;
    background-color: var(--theme-thirdly) !important;
}

@media screen and (max-width: 768px) {
    .container {
        margin: 5%;
    }
}


.error-message {
    display: none;
}